
{% extends "layouts/base.html" %}
{% block robotindex %} <meta name="robots" content="noindex">  {% endblock %}
{% block header %}
    {% include 'layouts/header.html' %}
{% endblock %}

{% block content %}
<h2>Reset Password</h2>
<p>Please enter the email address associated with your account:</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Send Reset Email</button>
</form>
{% endblock %}


{% block footer %}
    {% include 'layouts/footer.html' %}
{% endblock %}
