<!DOCTYPE html>
{% load static %}
<html lang="en" >


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block robotindex %} 
    <meta name="robots" content="index,follow">  
    <meta name="monetag" content="d4f04a61e8aa1b216366513593899228">
    
    
    {% endblock %}

    {% block adsencecode %} {% endblock %}


    <link rel="shortcut icon" type="image/x-icon" href="{{site_data.favicon}}"> 
   
    {% include 'includes/meta.html' %}

    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" type="text/css"> 

    <script src="{% static 'vendor/htmx/dist/htmx.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_head %}
    <!-- Add any additional CSS or JavaScript files here -->
    {% endblock %}    
  </head>

  <body class="vh-100">    
        <header class="border-bottom fixed-top min-vh-5 bg-light">
            <div class="container">
                {% block header %}
                <!-- Add page header here -->
                {% endblock %}
            </div>
        </header>
    
    
    
    {% block drc %}
    <div class="offcanvas offcanvas-end d-md-none sidebarDiv3" tabindex="-1" id="drc" aria-labelledby="drcLabel">
      <div class="offcanvas-header">
        <div class="offcanvas-title h5" id="drcLabel">Mobile Menus</div>        
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ps-0 d-flex flex-column ">
        {% for hm in header_menu %}
        {% if hm.url and not hm.data_set %}
          <a href="{{hm.url}}" type="button" class="btn btn-light position-relative ps-5 mb-2 text-start {% if hm.url == request.path %} active {% endif %}">
            {{hm.title}}          
          </a>
        {% endif %}
        {% if hm.data_set and not hm.url %}   

      
          <button class="btn btn-light position-relative ps-5 mb-2 text-start" data-bs-toggle="collapse" data-bs-target="#mobilemenu-collapse" aria-expanded="true">
            {{hm.title}}
          </button>
          <div class="collapse ms-5" id="mobilemenu-collapse">
            
              {% for ds in hm.data_set %}
                <a href="{{ds.url}}" class="btn btn-light position-relative ps-7 mb-2 text-start {% if hm.url == request.path %} active {% endif %}">{{ds.title}}</a>
              {% endfor %}
           
          </div>
     
        
        
        
          {% endif %}
        {% endfor %}  
      </div>
    </div>
    {% endblock %}

    <main data-aos="fade-in" data-aos-easing="linear" data-aos-duration="1500" class="container-fluid pb-3">
        <div class="row mb-4">
            {% block topsec %}
            {% endblock %}
        </div>

        <div class="row">
          <div class="cotainer">
            <!--Messages-->
          {% if messages %}
            <div class="alert alert-secondary mt-5 text-center" role="alert">
                {% for message in messages %}
                <span class="alert-inner--text ">{{ message }}</span>
                {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>


        <div class="container min-vh-100 p-0">
            <div class="row">

                <div class="col-md-8">
                  <script async src="https://cse.google.com/cse.js?cx=39e1046eb10c09cfd">
                  </script>
                  <div class="gcse-search"></div>
                    {% block content %}
                    <!-- Add page content here -->
                    {% endblock %}
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    </div>
                    <div class="mb-3">                     
                      <a rel="nofollow" target="_blank" href='https://lddy.no/1gd2u'><img class="img-fluid card mt-3" alt="#1 Amazon Product Research Tool" title="#1 Amazon Product Research Tool" src='https://leaddyno-client-images.s3.amazonaws.com/d4f367a22317180f6d28bf176fae0cbcc0899b19/e50d42b480218b94aaf2e2a33511500f035169f6_Zonbase%20Retargeting%20Ads%20-%20300x250%20copy%202.jpg'/></a>
                      <a rel="nofollow" target="_blank" href='https://get.junglescout.com/1apgc9cw9msr'><img class="img-fluid card mt-3" alt="Best Amazon Product Research Tool" title="#1 Amazon Product Research Tool" src='{% static "js-affiliates-30off-inline-300x250.jpg" %}'/></a>
                      <iframe class="mt-3" src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=12&l=ur1&category=kindle_unlimited&banner=0Q7PM3EB81H5ZVRVH4G2&f=ifr&linkID=1c9924a41ec0edb695012e4fbd7ff54d&t=haradhansharm-21&tracking_id=haradhansharm-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
                    </div>

                    <div class="mb-3 list-group list-group-flush">
                      <h4 class="text-danger">Unlocking Your Success: Essential Links for Savvy Buyers and Sellers</h4>
                      <p class="text-success">When you click on these links, rest assured that you will not be charged any extra amount for your purchases. However, it's worth mentioning that if you make a successful purchase through these links, we may earn a commission as a part of the Amazon Associates program.
                      </p>
                      <p class="text-success">By using these affiliate links, you can support our website and the content we provide, enabling us to continue bringing you valuable information and resources. Your support means the world to us, and it allows us to keep serving you with the best content possible.
                      </p>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.co.uk/gp/bestsellers/?ref_=nav_cs_bestsellers&_encoding=UTF8&tag=haradhansharm-21&linkCode=ur2&linkId=b84058c4f481f4ac30087707b609a8ca&camp=1634&creative=6738">Best Seller Amazon UK</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.co.uk/gp/new-releases/ref=zg_bs_tab?&_encoding=UTF8&tag=haradhansharm-21&linkCode=ur2&linkId=502dff98a69e07bc815b2955abfa3087&camp=1634&creative=6738">Hot New Releases Amazon UK</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.co.uk/gp/movers-and-shakers/ref=zg_bsnr_tab?&_encoding=UTF8&tag=haradhansharm-21&linkCode=ur2&linkId=a415eacbb506a560287ea2d423b1e186&camp=1634&creative=6738">Movers and Shakers Amazon UK</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.co.uk/gp/most-gifted/ref=zg_bsms_tab?&_encoding=UTF8&tag=haradhansharm-21&linkCode=ur2&linkId=df24e6bc05a9c288e1587d6f35a30c3c&camp=1634&creative=6738">Most Gifted Amazon UK</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.co.uk/gp/deals/?ie=UTF8&amp;ref_=sv_uk_1&_encoding=UTF8&tag=haradhansharm-21&linkCode=ur2&linkId=34c40449a5c613b7c7051d04ebd5d74d&camp=1634&creative=6738">Today's Deals Amazon UK</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.co.uk/gp/new-releases/?ref_=nav_cs_newreleases&_encoding=UTF8&tag=haradhansharm-21&linkCode=ur2&linkId=52d142420daf85e81f2218b7161e86bc&camp=1634&creative=6738">New Releases Amazon UK</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/Best-Sellers/zgbs?ref=CG_ac_ss_230713_Inspiration_bestsellers&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=d80b927ca36b03bc07239f7d8a557da5&camp=1789&creative=9325">Best Seller Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/gp/new-releases/ref=zg_bs_tab?&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=075983a26d0251d66a2dda21eeb4fa84&camp=1789&creative=9325">Hot New Releases Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/gp/movers-and-shakers/ref=zg_bsnr_tab?&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=c9e08468e075ff5805a150ed45b29339&camp=1789&creative=9325">Movers and Shakers Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/gp/most-gifted/ref=zg_bsms_tab?&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=66ae6ac051f6edb603550fef805ccc04&camp=1789&creative=9325">Gift Ideas Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/gp/goldbox?ref_=nav_cs_gb&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=0f67463150d2521d34b6477396b0d449&camp=1789&creative=9325">Today's Deals Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/Coupons/b/?ie=UTF8&amp;node=2231352011&amp;ref_=sv_subnav_goldbox_1&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=61714f56a2e77b3675d2334e3a9aaa9a&camp=1789&creative=9325">Save with Coupons Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/b?node=118186088011&amp;ref_=pe_3601880_738249180&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=d9886fc75738e0404a6a9f4cd7d32ff5&camp=1789&creative=9325">Pretty in Pink Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/stores/page/E358219F-F8A3-4395-A063-90A8A077EB4B?&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=f13961dcc5cc3a710b9291c9b9e90792&camp=1789&creative=9325">Just Launched Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.primevideo.com/offers/nonprimehomepage/ref=atv_pangaea_banner_us_pvrow?ie=UTF8&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=8195c8e19187019451c09c5b2eee19f0&camp=1789&creative=9325">Prime Video Amazon Americas</a></li>
                      <li class="list-group-item"><a class="btn btn-light bg-transparent border-0 link-danger" target="_blank" href="https://www.amazon.com/b/ref=pe_3601880_738249180_s9_acsd_al_bw_clnk/ref=s9_acsd_al_bw_c2_x_c2cl?node=116063200011&amp;pf_rd_m=ATVPDKIKX0DER&amp;pf_rd_s=merchandised-search-12&amp;pf_rd_r=1ZECNA2HS9V3RC7MZGEP&amp;pf_rd_t=101&amp;pf_rd_p=7260a24c-bc1b-4c92-a416-2c2eabadab5c&amp;pf_rd_i=1055398&_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=5050d7be944003b2449aee9cee4a5254&camp=1789&creative=9325">Modern rustic Amazon Americas</a></li>
                      <p>We want to be fully transparent with our audience, and that's why we disclose that some of the links on our website are affiliate links. Your trust and satisfaction are of utmost importance to us, and we will always strive to maintain that trust by recommending products and services that we genuinely believe will benefit you.
                      </p>
                      <p>Thank you for being a part of our community and for supporting us through your purchases. Happy shopping!</p>
                      
                    </div>
            </div>
        </div>
    


     
    


    </main>
    <footer class="footer py-2 min-vh-10 pt-4">
      {% block footer %}
      {% endblock %}
    </footer>


    {% include 'includes/scripts.html' %}

    {% block extra_body %}
        <script type="text/javascript">
          amzn_assoc_ad_type = "link_enhancement_widget";
          amzn_assoc_tracking_id = "haradhansharm-20";
          amzn_assoc_linkid = "b93a6553f02fe5daf237b15fd8245df3";
          amzn_assoc_placement = "";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
        </script>
        <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
    {% endblock %}


  </body>
</html>