<!DOCTYPE html>
{% load static %}
<html lang="en" >


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block robotindex %} <meta name="robots" content="index,follow">  {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{site_data.favicon}}"> 
   
    {% include 'includes/meta.html' %}

    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" type="text/css"> 

    <script src="{% static 'vendor/htmx/dist/htmx.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_head %}
    <!-- Add any additional CSS or JavaScript files here -->
    {% endblock %}    
  </head>

  <body class="vh-100">    
        <header class="border-bottom fixed-top min-vh-5 bg-light">
            <div class="container">
                {% block header %}
                <!-- Add page header here -->
                {% endblock %}
            </div>
        </header>
    
    
    
    {% block drc %}
    <div class="offcanvas offcanvas-end d-md-none sidebarDiv3" tabindex="-1" id="drc" aria-labelledby="drcLabel">
      <div class="offcanvas-header">
        <div class="offcanvas-title h5" id="drcLabel">Mobile Menus</div>        
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ps-0 d-flex flex-column ">
        {% for hm in header_menu %}
        {% if hm.url and not hm.data_set %}
          <a href="{{hm.url}}" type="button" class="btn btn-light position-relative ps-5 mb-2 text-start {% if hm.url == request.path %} active {% endif %}">
            {{hm.title}}          
          </a>
        {% endif %}
        {% if hm.data_set and not hm.url %}   

      
          <button class="btn btn-light position-relative ps-5 mb-2 text-start" data-bs-toggle="collapse" data-bs-target="#mobilemenu-collapse" aria-expanded="true">
            {{hm.title}}
          </button>
          <div class="collapse ms-5" id="mobilemenu-collapse">
            
              {% for ds in hm.data_set %}
                <a href="{{ds.url}}" class="btn btn-light position-relative ps-7 mb-2 text-start {% if hm.url == request.path %} active {% endif %}">{{ds.title}}</a>
              {% endfor %}
           
          </div>
     
        
        
        
          {% endif %}
        {% endfor %}  
      </div>
    </div>
    {% endblock %}

    <main data-aos="fade-in" data-aos-easing="linear" data-aos-duration="1500" class="container-fluid pb-3">
        <div class="row mb-4">
            {% block topsec %}
            {% endblock %}
        </div>

        <div class="row">
          <div class="cotainer">
            <!--Messages-->
          {% if messages %}
            <div class="alert alert-secondary mt-5 text-center" role="alert">
                {% for message in messages %}
                <span class="alert-inner--text ">{{ message }}</span>
                {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>


        <div class="container min-vh-100 p-0">
            <div class="row">

                <div class="col-md-8">
                    {% block content %}
                    <!-- Add page content here -->
                    {% endblock %}
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    </div>
                    <div class="mb-3">
                      <div class="mb-3">
                      <a rel="nofollow" class="badge rounded-pill bg-primary text-decoration-none link-light" target="_blank" href="https://www.amazon.com/Coming-2-America-Eddie-Murphy/dp/B08QZN6LCM?_encoding=UTF8&linkCode=ib1&tag=haradhansharm-20&linkId=38088003347da618a828e09afd91e993&ref_=ihub_curatedcontent_20d579eb-eea6-4789-8782-8c4e386bae08">Coming 2 America?</a>
                      <a rel="nofollow" class="badge rounded-pill bg-secondary text-decoration-none link-white" target="_blank" href="https://www.amazon.com/tryAB?ref_=assoc_tag_ph_1524210604088&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=haradhansharm-20&linkId=524fb2ec8309710b0bbdf0b87abee232"> Create Amazon Business Account</a>
                      
                      <a rel="nofollow" class="badge rounded-pill bg-success text-decoration-none link-white" target="_blank" href="https://www.amazon.com/b?_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=ec47d7b4e74efb334697882130c76321&camp=1789&creative=9325&node=3">Books Related To Business And Money</a>
                      <a rel="nofollow" class="badge rounded-pill bg-danger text-decoration-none link-white" target="_blank" href="https://www.amazon.com/b?_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=ec47d7b4e74efb334697882130c76321&camp=1789&creative=9325&node=3">More Books Related To Business And Money</a>
                      <a rel="nofollow" class="badge rounded-pill bg-dark text-decoration-none link-white" target="_blank" href="https://www.amazon.com/b?_encoding=UTF8&tag=haradhansharm-20&linkCode=ur2&linkId=06beaae6df2ed177fa1c903e279dd4d1&camp=1789&creative=9325&node=4736">Books Related To Self-Help</a>
                      </div>
                      <div>
                      </div>

                      <a rel="nofollow" href='https://lddy.no/1gd2u'><img class="img-fluid card mt-3" alt="#1 Amazon Product Research Tool" title="#1 Amazon Product Research Tool" src='https://leaddyno-client-images.s3.amazonaws.com/d4f367a22317180f6d28bf176fae0cbcc0899b19/e50d42b480218b94aaf2e2a33511500f035169f6_Zonbase%20Retargeting%20Ads%20-%20300x250%20copy%202.jpg'/></a>
                
                    </div>
            </div>
        </div>
    


     
    


    </main>
    <footer class="footer py-2 min-vh-10 pt-4">
      {% block footer %}
      {% endblock %}
    </footer>


    {% include 'includes/scripts.html' %}

    {% block extra_body %}
    <!-- Add any additional JavaScript files here -->
    {% endblock %}
  </body>
</html>