<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-268204781-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-268204781-1');
</script>
<meta name="yandex-verification" content="c230aa36d472698d" />

<meta name="robots" content="index,follow">
<title>veerera.org -{% block head_title %}{{ site_data.name }}{% endblock %}</title> 
<meta name="description" content="{{ site_data.description }}">
<meta name="author" content="{{ site_data.author }}">
<meta property="og:title" content="veerera.org - {{ site_data.name }}">
<meta property="twitter:title" content="veerera.org - {{ site_data.name }}">
<meta property="og:description" content="{{ site_data.description }}">
<meta property="twitter:description" content="{{ site_data.description }}">
<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ site_data.og_image }}">
<meta property="twitter:image" content="{{ site_data.og_image }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:site" content="@haradhansharma" />
<meta name="twitter:creator" content="@haradhansharma" /> 
<meta name="category" content="International Job Market"/>