{% extends "human_sun_folio/includes/base.html" %}
{% load static %}        
{% block content %}   
        <!-- Start: Content section -->
        <section class="bg-danger min-vh-100">
            <!-- Start: content setion -->
            <div class="d-flex justify-content-center align-items-center">
                <div class="container my-5 pb-5">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center mt-4 mt-xl-5">
                            <div class="bg-body border rounded border-0 p-4 p-md-5 position-relative animate__animated animate__slower animate__zoomIn">
                                <!-- Start: PageIndicator -->
                                <h1 class="display-6 text-uppercase fw-bolder fs-8vw position-absolute top-0 start-0" style="mix-blend-mode: soft-light;">opps, 500!</h1><!-- End: PageIndicator --><a data-bss-hover-animate="pulse" class="position-absolute top-0 end-0 p-2 text-decoration-none" href="{% url 'core:human_sun_home' %}"><i class="la la-close fs-1 text-light border rounded border-2 border-light"></i></a>
                                <div class="row d-flex">
                                    <div class="col-lg-8 d-flex align-items-center">
                                        <div class="flex-fill specialeffect magic-hover">
                                            <h2 class="text-uppercase fs-3 fw-bold mb-3">Internal Server Error<span class="text-primary">&nbsp;__!</span></h2>
                                            <p class="fs-5 fw-normal lh-sm">Oh no! It appears we've encountered an unexpected hiccup. Our servers are experiencing some turbulence at the moment. Rest assured, we're working diligently to resolve the issue. In the meantime, feel free to explore other sections of our site or check back later for updates.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-flex">
                                        <div class="d-none d-lg-flex flex-fill"><img class="img-fluid" src="{% static 'human_sun_folio/assets/img/500_top.svg' %}" width="100%" height="auto" alt="500" loading="lazy"></div>
                                    </div>
                                </div>
                                <div class="col-12 bg-info mt-5 border rounded-5 border-0">
                                    <div class="row gx-3 gy-3 d-flex justify-content-center align-items-start p-5">
                                        <div class="col-md-8">
                                            <div class="card bg-transparent border-0 flex-fill p-0 m-0"><img class="img-fluid card-img-top w-100 d-block" src="{% static 'human_sun_folio/assets/img/500.svg' %}" width="100%" height="auto" alt="500" loading="lazy">
                                                <div class="card-body text-center p-0 m-0">
                                                    <h5 class="fs-5 fw-bolder text-secondary card-title py-0 fs-1xx">500</h5><a class="text-uppercase fs-5 text-decoration-none badge bg-secondary p-2 link-light rounded-5 magic-hover" href="{% url 'core:human_sun_home' %}">GO TO HOME</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End: content setion -->
        </section><!-- End: Content section -->
        {% endblock %}