{% extends "human_sun_folio/includes/base.html" %}
{% load static %}        
{% block content %}   
        <!-- Start: Content section -->
        <section class="bg-primary bg-opacity-75 min-vh-100">
            <div class="d-flex justify-content-center align-items-center">
                <div class="container my-5 pb-5" style="opacity: 1;">
                    <div class="row">
                        <div class="col-12 mt-4 mt-xl-5">
                            <div class="bg-body border rounded border-0 p-4 p-md-5 position-relative animate__animated animate__slower animate__zoomIn">
                                <!-- Start: PageIndicatorShading -->
                                <h1 class="display-6 text-uppercase fw-bolder fs-8vw position-absolute top-0 start-0 d-flex magic-hover specialeffect" style="mix-blend-mode: soft-light;">the blog</h1><!-- End: PageIndicatorShading --><a class="border-light position-absolute top-0 end-0 p-2 text-decoration-none" data-bss-hover-animate="pulse" href="blogs.html"><i class="la la-close fs-1 text-light border rounded border-2 border-light"></i></a>
                                <div class="row d-flex">
                                    <div class="col-lg-8 d-flex align-items-end">
                                        <div class="flex-fill">
                                            <h2 class="text-uppercase fs-3 fw-bold mb-3 text-justify">Mastering Python: A Comprehensive Guide to Coding in Python for Beginners</h2>
                                            <p class="fs-5 fw-normal lh-sm text-justify">In today's digital age, learning to code is an invaluable skill, and Python stands out as one of the most beginner-friendly yet powerful programming languages. This blog aims to provide a comprehensive guide for beginners to master Python coding, covering essential concepts, syntax, and practical examples to kickstart your journey into the world of programming.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-flex align-items-center justify-content-center text-center overflow-hidden bg-secondary rounded-4">
                                        <div class="flex-fill d-none d-lg-flex">
                                            <h2 class="fw-bold text-warning display-1">Web Design</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 bg-info mt-5 border rounded-5 border-0">
                                    <img class="img-fluid rounded-top-5 magic-hover specialeffectImage" src="{% static 'human_sun_folio/assets/img/blog1-1.webp' %}" width="100%" height="auto" alt="Blog main image">
                                    <div class="row d-flex justify-content-center align-items-start p-2 p-lg-3">
                                        <div class="col-md-8">
                                            <div class="row gx-3 gy-3 d-flex justify-content-center align-items-center">
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <div class="card bg-success-subtle border-success flex-fill w-100 rounded-3">
                                                        <div class="card-body d-flex justify-content-between specialeffect magic-hover">
                                                            <h5 class="fs-5 fw-bolder text-secondary card-title mb-0">Author: Haradhan Sharma</h5>
                                                            <p class="text-capitalize fs-5 text-secondary card-text lh-sm">Published: 07 march, 2022&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <div class="card bg-transparent border-0 flex-fill w-100 rounded-5">
                                                        <div class="card-body pt-0">
                                                            <h3 class="blog-section-heading">Getting Started with Python:</h3>
                                                            <p class="fs-5 card-text lh-sm text-justify">Python's simplicity and readability make it an ideal choice for beginners.</p>
                                                            <figure class="folio-blockquote">
                                                                <blockquote class="blockquote">
                                                                    <p class="mb-0 lh-sm text-justify">Python is an experiment in how much freedom programmers need. Too much freedom, and nobody can read another's code; too little, and expressiveness is endangered.</p>
                                                                </blockquote>
                                                                <figcaption class="blockquote-footer folio-blockquote-footer">Guido van Rossum</figcaption>
                                                            </figure>
                                                            <p class="fs-5 card-text lh-sm text-justify">This quote encapsulates Python's philosophy, emphasizing the importance of readability and expressiveness in code.</p>
                                                            <p class="fs-5 card-text lh-sm text-justify">Before diving into coding, it's essential to set up your development environment. Install Python on your system and choose a code editor or integrated development environment (IDE) such as PyCharm or Visual Studio Code. Once you're set up, you're ready to begin your Python journey.</p><code class="fs-5 folio-code"># Hello World program in Python<br><br>print("Hello, world!")</code>
                                                            <h3 class="blog-section-heading">Fundamental Concepts:</h3>
                                                            <p class="fs-5 card-text lh-sm text-justify">Understanding fundamental concepts like variables, data types, and control flow is crucial for any aspiring Python programmer. Variables store data, while data types define the kind of data that can be stored. Control flow statements like if-else and loops help in making decisions and iterating over data, respectively.</p>
                                                            <p class="fs-5 card-text lh-sm text-justify">As you delve deeper into Python, you'll encounter more advanced topics like functions, modules, and object-oriented programming (OOP). Functions allow you to encapsulate reusable code, while modules provide a way to organize and reuse Python code. OOP, a programming paradigm centered around objects and classes, offers a powerful way to structure and model complex systems.</p>
                                                            <ul class="folio-list text-justify">
                                                                <li>Functions: Encapsulate reusable code.</li>
                                                                <li>Modules: Organize and reuse Python code.</li>
                                                                <li>Object-Oriented Programming (OOP): Structuring and modeling complex systems using objects and classes.</li>
                                                            </ul>
                                                            <h3 class="blog-section-heading">Conclusion:</h3>
                                                            <p class="fs-5 card-text lh-sm text-justify">Mastering Python is a rewarding journey that opens up a plethora of opportunities in various fields, including web development, data science, artificial intelligence, and more. Remember, practice makes perfect. Don't be afraid to experiment, make mistakes, and learn from them. With dedication and perseverance, you'll soon become proficient in Python and embark on exciting coding adventures.</p><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbootstrapstudio.io%2F&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media" class="w-100" width="100%" height="auto"></iframe>
                                                            <hr>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <h5 class="fw-bold text-muted">Tags:&nbsp;</h5>
                                                                <ul class="list-inline fs-5 fw-lighter">
                                                                    <li class="list-inline-item border-1 mb-2"><a class="text-decoration-none btn btn-link rounded-5 btn-outline-secondary" href="#">Python</a></li>
                                                                    <li class="list-inline-item border-1 mb-2"><a class="text-decoration-none btn btn-link rounded-5 btn-outline-secondary" href="#">Programming</a></li>
                                                                    <li class="list-inline-item border-1 mb-2"><a class="text-decoration-none btn btn-link rounded-5 btn-outline-secondary" href="#">Beginners</a></li>
                                                                    <li class="list-inline-item border-1 mb-2"><a class="text-decoration-none btn btn-link rounded-5 btn-outline-secondary" href="#">Coding</a></li>
                                                                    <li class="list-inline-item border-1 mb-2"><a class="text-decoration-none btn btn-link rounded-5 btn-outline-secondary" href="#">Development</a></li>
                                                                    <li class="list-inline-item border-1 mb-2"><a class="text-decoration-none btn btn-link rounded-5 btn-outline-secondary" href="#">Learning</a></li>
                                                                </ul>
                                                            </div>
                                                            <hr><!-- Start: reply_form -->
                                                            <form id="comment_form">
                                                                <div class="d-flex flex-column"><textarea class="form-control form-control-sm rounded-5" rows="5" placeholder="Enter reactions in your mind about the senses"></textarea></div>
                                                                <div style="text-align: right;">
                                                                    <div class="d-flex justify-content-between align-items-center mt-2"><input class="form-control rounded-5" type="email" placeholder="Enter Email"><button class="btn btn-primary rounded-5" type="button">Submit</button></div>
                                                                </div>
                                                            </form><!-- End: reply_form -->
                                                            <div class="row d-flex justify-content-center mt-3">
                                                                <div class="col-md-12">
                                                                    <div class="card border-0 rounded-3 p-2">
                                                                        <h4 class="mb-0">Recent comments</h4>
                                                                        <p class="fw-light lh-sm fs-5 text-muted">Latest Comments section by visitors</p>
                                                                        <div class="card-body p-0">
                                                                            <div class="d-flex flex-start border-1 border-top mt-2 pt-2"><img class="rounded-circle shadow-1-strong me-3" src="{% static 'human_sun_folio/assets/img/images.png' %}" alt="avatar" width="60" height="60">
                                                                                <div>
                                                                                    <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                                        <p class="mb-0 lh-sm fs-6 fw-light text-muted"> March 07, 2021 </p>
                                                                                        <ul class="list-inline mb-0 d-flex">
                                                                                            <li class="list-inline-item"><a class="link-success m-0 lh-sm fs-4 fw-normal d-flex" href="#!"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-square">
                                                                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                                                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                                                                                    </svg></a></li>
                                                                                            <li class="list-inline-item"><a class="link-muted m-0 lh-sm fs-4 fw-normal d-flex" href="#!"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash text-danger">
                                                                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                                                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                                                                                    </svg></a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <p class="mb-0 lh-sm fs-6 fw-normal text-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it. </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body p-0">
                                                                            <div class="d-flex flex-start border-1 border-top mt-2 pt-2"><img class="rounded-circle shadow-1-strong me-3" src="{% static 'human_sun_folio/assets/img/images.png' %}" alt="avatar" width="60" height="60">
                                                                                <div>
                                                                                    <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                                        <p class="mb-0 lh-sm fs-6 fw-light text-muted"> March 07, 2021 </p>
                                                                                        <ul class="list-inline mb-0 d-flex">
                                                                                            <li class="list-inline-item"><a class="link-success m-0 lh-sm fs-4 fw-normal d-flex" href="#!"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-square">
                                                                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                                                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                                                                                    </svg></a></li>
                                                                                            <li class="list-inline-item"><a class="link-success m-0 lh-sm fs-4 fw-normal d-flex" href="#!"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash text-danger">
                                                                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                                                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                                                                                    </svg></a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <p class="mb-0 lh-sm fs-6 fw-normal text-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it. </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body p-0">
                                                                            <div class="d-flex flex-start border-1 border-top mt-2 pt-2"><img class="rounded-circle shadow-1-strong me-3" src="{% static 'human_sun_folio/assets/img/images.png' %}" alt="avatar" width="60" height="60">
                                                                                <div>
                                                                                    <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                                        <p class="mb-0 lh-sm fs-6 fw-light text-muted"> March 07, 2021 </p>
                                                                                        <ul class="list-inline mb-0 d-flex">
                                                                                            <li class="list-inline-item"><a class="link-success m-0 lh-sm fs-4 fw-normal d-flex" href="#!"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-square">
                                                                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                                                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                                                                                    </svg></a></li>
                                                                                            <li class="list-inline-item"><a class="link-muted m-0 lh-sm fs-4 fw-normal d-flex" href="#!"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash text-danger">
                                                                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                                                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                                                                                    </svg></a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <p class="mb-0 lh-sm fs-6 fw-normal text-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it. </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row gx-3 gy-3 d-flex justify-content-center align-items-center">
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <div class="card bg-light-subtle border-light w-100 rounded-5">
                                                        <div class="card-body">
                                                            <h2 class="fs-5 fw-bolder text-primary card-title side-block-title">Recent Posts</h2>
                                                            <ul class="list-unstyled lh-sm">
                                                                <li class="lh-1 py-2 d-flex border-1 border-top border-success"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 text-lowercase d-table-row lh-1 text-warning">22 march 2024</span><span class="fs-6 fw-light text-uppercase d-table-row lh-1">Mastering Python: A Comprehensive guide ....</span></a></li>
                                                                <li class="lh-1 py-2 d-flex border-1 border-top border-success"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 text-lowercase d-table-row lh-1 text-warning">22 march 2024</span><span class="fs-6 fw-light text-uppercase d-table-row lh-1">Crafting Your Digital Identity: The Essentials ....</span></a></li>
                                                                <li class="lh-1 py-2 d-flex border-1 border-top border-success"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 text-lowercase d-table-row lh-1 text-warning">22 march 2024</span><span class="fs-6 fw-light text-uppercase d-table-row lh-1">From Concept to Creation: Navigating ....</span></a></li>
                                                                <li class="lh-1 py-2 d-flex border-1 border-top border-success"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 text-lowercase d-table-row lh-1 text-warning">22 march 2024</span><span class="fs-6 fw-light text-uppercase d-table-row lh-1">Harnessing the Power of AI: Seamless ....</span></a></li>
                                                                <li class="lh-1 py-2 d-flex border-1 border-top border-success"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 text-lowercase d-table-row lh-1 text-warning">22 march 2024</span><span class="fs-6 fw-light text-uppercase d-table-row lh-1">Effortless Content Management: Strea ....</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <div class="card bg-warning-subtle border-warning w-100 rounded-5">
                                                        <div class="card-body">
                                                            <h2 class="fs-5 fw-bolder text-primary card-title side-block-title">Categories</h2>
                                                            <ul class="list-unstyled lh-sm">
                                                                <li class="lh-1 py-3 d-flex border-1 border-top border-dark"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 fw-light text-uppercase d-table-row lh-1">coding</span></a></li>
                                                                <li class="lh-1 py-3 d-flex border-1 border-top border-dark"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 fw-light text-uppercase d-table-row lh-1">branding</span></a></li>
                                                                <li class="lh-1 py-3 d-flex border-1 border-top border-dark"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 fw-light text-uppercase d-table-row lh-1">website</span></a></li>
                                                                <li class="lh-1 py-3 d-flex border-1 border-top border-dark"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 fw-light text-uppercase d-table-row lh-1">ai</span></a></li>
                                                                <li class="lh-1 py-3 d-flex border-1 border-top border-dark"><a class="fs-5 fw-normal text-decoration-none link-dark" href="#" style="font-family: Aldrich, sans-serif;"><span class="fs-6 fw-light text-uppercase d-table-row lh-1">cms</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <div class="card bg-dark-subtle border-dark w-100 rounded-5">
                                                        <div class="card-body">
                                                            <h2 class="fs-5 fw-bolder text-primary card-title side-block-title">Popular Tags</h2>
                                                            <div class="d-block float-start"><a class="btn btn-light btn-sm text-nowrap text-capitalize d-inline-block float-start rounded-5 d-inline-block m-1" role="button">python</a><a class="btn btn-light btn-sm text-nowrap text-capitalize d-inline-block float-start rounded-5 d-inline-block m-1" role="button">programming</a><a class="btn btn-light btn-sm text-nowrap text-capitalize d-inline-block float-start rounded-5 d-inline-block m-1" role="button">beginners</a><a class="btn btn-light btn-sm text-nowrap text-capitalize d-inline-block float-start rounded-5 d-inline-block m-1" role="button">coding</a><a class="btn btn-light btn-sm text-nowrap text-capitalize d-inline-block float-start rounded-5 d-inline-block m-1" role="button">learning</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End: Content section -->
        {% endblock %}