{% extends "human_sun_folio/includes/base.html" %}
{% load static %}        
{% block content %}  
        <!-- Start: Content section -->
        <section class="bg-primary min-vh-100">
            <div class="d-flex justify-content-center align-items-center">
                <div class="container my-5 pb-5">
                    <div class="row">
                        <div class="col-12 mt-4 mt-xl-5">
                            <div class="bg-body border rounded border-0 p-4 p-md-5 position-relative animate__animated animate__slower animate__zoomIn">
                                <!-- Start: PageIndicatorShading -->
                                <h1 class="display-6 text-uppercase fw-bolder fs-8vw position-absolute top-0 start-0 specialeffect magic-hover" style="mix-blend-mode: soft-light;">projects</h1><!-- End: PageIndicatorShading --><a class="border-light position-absolute top-0 end-0 p-2 text-decoration-none" data-bss-hover-animate="pulse" href="{% url 'core:human_sun_home' %}"><i class="la la-close fs-1 text-light border rounded border-2 border-light"></i></a>
                                <div class="row d-flex">
                                    <div class="col-lg-8 d-flex align-items-center">
                                        <div class="flex-fill">
                                            <h2 class="text-uppercase fs-3 fw-bold mb-3">my latest works</h2>
                                            <p class="fs-5 fw-normal lh-sm text-justify">Since I started my career as a designer almost 12 years ago, I've worked remotely for agencies, consulted for start-ups and talented people to create digital products for commercial and consumer use.</p><!-- Start: Search Form -->
                                            <form>
                                                <div class="input-group"><input class="form-control" type="text" placeholder="Search project by tag"><button class="btn btn-light" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                        </svg></button></div>
                                            </form><!-- End: Search Form -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-flex border border-2 rounded-3">
                                        <div class="d-none d-lg-flex flex-fill"><img class="img-fluid" src="{% static 'human_sun_folio/assets/img/latest_works.svg' %}" width="100%" height="auto" alt="Projects" loading="lazy" style="mix-blend-mode: color-dodge;"></div>
                                    </div>
                                </div>
                                <div class="col-12 bg-info mt-5 border rounded-5 border-0">
                                    <div class="row gx-3 gy-3 p-2 p-lg-5">
                                        <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                            <div class="card bg-danger-subtle border-danger flex-fill w-100 rounded-5 cardeffectEx">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center py-2">
                                                        <h5 class="fs-5 fw-bolder text-danger py-2 text-justify">Dynamic E-commerce Platform: Building a Python Django Web Store.</h5>
                                                        <div class="d-flex"><a class="text-uppercase fs-5 text-decoration-none badge bg-danger p-2 link-light rounded-5 magic-hover" href="{% url 'core:human_sun_home_pages' 'project_details' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right fs-1">
                                                                    <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                                                    <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                                                                </svg></a></div>
                                                    </div>
                                                    <div class="lh-sm"><a class="text-uppercase fs-6 fw-light text-decoration-none badge bg-danger p-2 link-light rounded-5 me-2" href="#">E-commerce</a><a class="text-uppercase fs-6 fw-light text-decoration-none badge bg-danger p-2 link-light rounded-5 me-2" href="#">Python Django Web Development</a></div>
                                                </div><img class="img-fluid card-img-bottom w-100 d-block p-4 rounded-5" src="{% static 'human_sun_folio/assets/img/project1.webp' %}" loading="lazy" width="100%" height="auto" alt="Service Image">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                            <div class="card bg-secondary-subtle border-secondary flex-fill w-100 rounded-5 cardeffectEx">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center py-2">
                                                        <h5 class="fs-5 fw-bolder text-secondary py-2 text-justify">Creative Branding Website: Showcasing Unique Designs with Bootstrap</h5>
                                                        <div class="d-flex"><a class="text-uppercase fs-5 magic-hover text-decoration-none badge bg-secondary p-2 link-light rounded-5" href="{% url 'core:human_sun_home_pages' 'project_details' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right fs-1">
                                                                    <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                                                    <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                                                                </svg></a></div>
                                                    </div>
                                                    <div class="lh-sm"><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-secondary p-2 link-light rounded-5" href="#">Website Branding</a><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-secondary p-2 link-light rounded-5" href="#">Bootstrap Design</a></div>
                                                </div><img class="img-fluid card-img-bottom w-100 d-block p-4 rounded-5" src="{% static 'human_sun_folio/assets/img/project2.webp' %}" loading="lazy" width="100%" height="auto" alt="Service Image">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                            <div class="card bg-success-subtle border-success flex-fill w-100 rounded-5 cardeffectEx">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center py-2">
                                                        <h5 class="fs-5 fw-bolder text-success py-2 text-justify">Responsive Web Design: Crafting Engaging Interfaces with Bootstrap.</h5>
                                                        <div class="d-flex"><a class="text-uppercase fs-5 magic-hover text-decoration-none badge bg-success p-2 link-light rounded-5" href="{% url 'core:human_sun_home_pages' 'project_details' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right fs-1">
                                                                    <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                                                    <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                                                                </svg></a></div>
                                                    </div>
                                                    <div class="lh-sm"><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-success p-2 link-light rounded-5" href="#">Web Design</a><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-success p-2 link-light rounded-5" href="#">Bootstrap Design</a></div>
                                                </div><img class="img-fluid card-img-bottom w-100 d-block p-4 rounded-5" src="{% static 'human_sun_folio/assets/img/project3.webp' %}" loading="lazy" width="100%" height="auto" alt="Service Image">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                            <div class="card bg-warning-subtle border-warning flex-fill w-100 rounded-5 cardeffectEx">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center py-2">
                                                        <h5 class="fs-5 fw-bolder text-warning py-2 text-justify">Custom Web Development: Tailored Solutions for Diverse Business Needs.</h5>
                                                        <div class="d-flex"><a class="text-uppercase fs-5 magic-hover text-decoration-none badge bg-warning p-2 link-light rounded-5" href="{% url 'core:human_sun_home_pages' 'project_details' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right fs-1">
                                                                    <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                                                    <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                                                                </svg></a></div>
                                                    </div>
                                                    <div class="lh-sm"><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-warning p-2 link-light rounded-5" href="#">Web Development</a><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-warning p-2 link-light rounded-5" href="#">Python Django Web Development</a></div>
                                                </div><img class="img-fluid card-img-bottom w-100 d-block p-4 rounded-5" src="{% static 'human_sun_folio/assets/img/project4.webp' %}" loading="lazy" width="100%" height="auto" alt="Service Image">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-fill mt-0 mb-3">
                                            <div class="card bg-primary-subtle border-primary flex-fill w-100 rounded-5 cardeffectEx">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center py-2">
                                                        <h5 class="fs-5 fw-bolder text-primary py-2">Elegant E-commerce Solution: Enhancing Online Shopping Experiences.</h5>
                                                        <div class="d-flex"><a class="text-uppercase fs-5 magic-hover text-decoration-none badge bg-primary p-2 link-light rounded-5" href="{% url 'core:human_sun_home_pages' 'project_details' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right fs-1">
                                                                    <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"></path>
                                                                    <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"></path>
                                                                </svg></a></div>
                                                    </div>
                                                    <div class="lh-sm"><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-primary p-2 link-light rounded-5" href="#">E-commerce</a><a class="text-uppercase fs-6 fw-light me-2 text-decoration-none badge bg-primary p-2 link-light rounded-5" href="#">Web Development</a></div>
                                                </div><img class="img-fluid card-img-bottom w-100 d-block p-4 rounded-5" src="{% static 'human_sun_folio/assets/img/project5.webp' %}" loading="lazy" width="100%" height="auto" alt="Service Image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex py-3">
                                    <div class="col d-flex justify-content-center align-items-center align-content-center">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-left-circle text-primary">
                                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
                                                </svg></li>
                                            <li class="list-inline-item mx-2">1</li>
                                            <li class="list-inline-item text-success mx-2">2</li>
                                            <li class="list-inline-item mx-2">3</li>
                                            <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right-circle text-primary">
                                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                                                </svg></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End: Content section -->
        {% endblock %}