{% extends "layouts/base.html" %}
{% block robotindex %} <meta name="robots" content="noindex">  {% endblock %}
{% load static %}

{% block title %}OOPS! 404{% endblock %} 

{% block content %}


<section class="bg-dark d-flex align-items-center" style="min-height: 100vh;">
    <div class="container px-0">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div data-aos="fade-up" data-aos-delay="100" class="card p-5">
                    
                    
                    <h1 class="fs-4 fw-bold mb-4">OPPS! There is 404!</h1>

                    <div class="col-12" >
                        <p>Oops! Looks like you followed a bad link. If you think this is a problem with us, please tell us.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}


