{% load static %}

<!-- Start: Navbar Human Sun -->
<nav class="navbar navbar-expand sticky-top bg-body py-3 d-print-none" data-bs-theme="light">
    <div class="container-xxl">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span>
                <a href="{% url 'core:human_sun_home' %}">
                    <img class="specialeffect magic-hover" width="220px" height="auto" alt="Human Sun Ancestor" src="{% static 'human_sun_folio/assets/img/Human_sun_ancestor.svg' %}">
                </a>
            </span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse position-relative" id="navcol">
            <!-- Start: Let's Talk Button -->
            <div class="lets-talk-container position-absolute top-100 end-0 translate-middle-x d-none d-md-block">
                <a class="active lets-talk btn-oval" href="{% url 'core:human_sun_home_pages' 'contact' %}">
                    <span>Let's Talk</span>
                    <i class="la la-arrow-right lets-talk-icon"></i>
                </a>
            </div><!-- End: Let's Talk Button -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
            <button class="btn btn-secondary ms-md-2 magic-hover" type="button" data-bs-target="#offcanvas-menu" data-bs-toggle="offcanvas">
                <i class="la la-bars"></i>
            </button>
        </div>
    </div>
</nav>
<!-- End: Navbar Human Sun -->
