{% load static %}
<script src="{% static 'human_sun_folio/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'human_sun_folio/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'human_sun_folio/assets/js/aos.min.js' %}"></script>
<script src="{% static 'human_sun_folio/assets/js/bs-init.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.6.1/browser/overlayscrollbars.browser.es6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vivus@0.4.6/dist/vivus.min.js"></script>
<script src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"></script>
<script src="{% static 'human_sun_folio/assets/js/main.js' %}"></script>

